body {
    margin: 15px 250px 15px 225px;
    font-family: 'Times New Roman', Times, serif;
    color: #656565;
    font-size: 12px;
}  

h1 {
    color: #8e8e8e;
}

.date {
    color: #469bdb;
}

p {
    text-align: justify;
}

a {
    color: #469bdb;    
}

a:hover {
    color: #20222a;    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.four {
    display: flex;
    margin: 2px;
    border: 5px solid #c5c5c5;
    padding: 1px;
}

footer {
    color: #8e8e8e;
    padding: 5px 0px 0px 0px;
}
